body {
  background-color: navy;
  font-family: 'Montserrat';
  margin: 0;
}

/* header section */
.top-container {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: white;
}


/* main */
.middle-container {
  display:flex;
  background-color: white;
  }

.description {
  color: navy;
  font-size: 2.5rem;
  margin-top: 3.5%;
  width: 100%;
  text-align: center;
}

.fa-phone {
  color: red;
  margin-right: 2%;
}

a {
  text-decoration: none;
  color: navy;
}

.img-container {
  margin-top: 2%;
  
  max-width: 100%;
  text-align: center;
}

img {
  margin-bottom:-0.2%;
  max-width: 60%;
  
}

/* footer */
.bottom-container {
  color: white;
  padding-top: 3%;
  padding-bottom: 1.5%;
  text-align: center;
}

.footer {
  font-size: 2rem;
}

.icon {
  margin: 0 10px;
}

.icon:hover {
  color: red;
}

@media (max-width: 1200px) {
  .middle-container {
    display: flex;
    flex-direction: column;

  }

}